@media (max-width: 992px) {
    .navbar-fixed-side {
        margin-left: -15px;
        margin-right: -15px;
    }
    .navbar-fixed-side .dropdown-toggle .caret {
        display: none;
    }
    .pull-sm-left {
      float: left !important;
    }
}

.navbar-default {
  background-color: #F0F0F0 !important;
}

@media (min-width: 992px) {
    .navbar-fixed-side {
        position: fixed;
        margin: -20px -15px;
        height: 100vh;
        width: inherit;
        overflow: auto;
        border-top-width: 0;
        border-bottom-width: 0;
        border-radius: 0;
        overflow-x:hidden !important;
    }
    .navbar-fixed-side .container,
    .navbar-fixed-side .container-fluid {
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-fixed-side .navbar-header {
        float: none;
        height: 50px !important;
        white-space: nowrap !important;
    }
    .navbar-fixed-side .navbar-brand {
        height: auto;
    }
    .navbar-fixed-side>.container .navbar-brand,
    .navbar-fixed-side>.container-fluid .navbar-brand {
        margin-left: 0;
    }
    .navbar-fixed-side .navbar-collapse {
        width: 100%;
        border-top: 1px solid #e7e7e7;
    }
    .navbar-fixed-side .navbar-nav {
        float: none;
        margin: 0 -15px;
    }
    .navbar-fixed-side .navbar-nav>li {
        float: none;
        min-width: 215px !important;
        overflow:hidden !important;
        white-space: nowrap !important;
    }
    .navbar-fixed-side .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e7e7e7;
    }
    .navbar-fixed-side .navbar-form {
        margin: 0;
        margin-left: -15px;
        margin-right: -15px;
        padding: 10px 15px;
        border-bottom: 1px solid #e7e7e7;
    }
    .navbar-fixed-side .navbar-text {
        float: none;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-fixed-side .dropdown-caret {
        padding-left: 5px;
        margin-right: 3px;
    }
    
    .navbar-fixed-side .navbar-nav>.navbar-fixed-side-disabled>a,
    .navbar-fixed-side .navbar-nav .dropdown-menu>.dropdown-disabled>a {
        color: #9d9d9d !important;
        background-color: transparent !important;
        font-style:italic;
        cursor: default;
    }
    .navbar-fixed-side .navbar-nav>.navbar-fixed-side-disabled>a:hover,
    .navbar-fixed-side .navbar-nav>.navbar-fixed-side-disabled>a:focus,
    .navbar-fixed-side .navbar-nav .dropdown-menu>.dropdown-disabled>a:hover,
    .navbar-fixed-side .navbar-nav .dropdown-menu>.dropdown-disabled>a:focus {
        color: #9d9d9d !important;
        background-color: transparent !important;
    }
    .navbar-fixed-side .navbar-left,
    .navbar-fixed-side .navbar-right {
        float: none !important;
    }
    .navbar-fixed-side .navbar-nav .dropdown-menu {
        /* display: none; */
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        border-bottom: 1px solid #e7e7e7;
    }
    
    .navbar-fixed-side .navbar-nav .dropdown-menu {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }
    
    .navbar-fixed-side .navbar-nav .open {
        display: inline !important;
    }
    
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a {
        background-color: #E0E0E0;
    }
    
    .navbar-fixed-side .navbar-nav>li>a {
        background-color: #F0F0F0;
    }
    
    .navbar-fixed-side .navbar-nav .dropdown-icon>li>a {
        background-color: #F8F8F8;
    }
    
    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a,
    .navbar-fixed-side .navbar-nav .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    
    .navbar-fixed-side .navbar-nav .dropdown-icon>li>a,
    .navbar-fixed-side .navbar-nav .dropdown-icon .dropdown-header {
        padding: 5px 15px 5px 35px !important;
    }

    .navbar-fixed-side .navbar-nav .dropdown-menu>li>a {
        line-height: 20px;
        color: #777;
    }
    .navbar-fixed-side .navbar-nav .dropdown-menu>li:not(.dropdown-disabled)>a:hover,
    .navbar-fixed-side .navbar-nav .dropdown-menu>li:not(.dropdown-disabled)>a:focus {
        background-image: none;
    }
    .navbar-fixed-side .navbar-nav .dropdown-menu>.dropdown-active>a {
        background-color: #D0D0D0;
        color: #555;
    }
    .navbar-fixed-side .navbar-nav>.navbar-fixed-side-active>a {
        background-color: #D0D0D0;
        color: #555;
    }
    .navbar-fixed-side .dropdown>.dropdown-toggle>a:hover,
    .navbar-fixed-side .navbar-nav>li:not(.navbar-fixed-side-disabled)>a:hover,
    .navbar-fixed-side .navbar-nav>li:not(.navbar-fixed-side-disabled)>a:focus,
    .navbar-fixed-side .navbar-nav .dropdown-menu>li:not(.dropdown-disabled)>a:hover,
    .navbar-fixed-side .navbar-nav .dropdown-menu>li:not(.dropdown-disabled)>a:focus {
        background-color: #C0C0C0 !important;
        color: #333;
    }
    .navbar-fixed-side .dropdown>.dropdown-toggle {
        padding: 10px 15px !important;
    }
    .navbar-fixed-side .dropdown>.dropdown-toggle,
    .navbar-fixed-side .dropdown-menu>.dropdown-header {
        background-color: transparent !important;
        border-bottom: none;
        padding-bottom: 0;
    }
    .navbar-fixed-side .dropdown-menu>.dropdown-header {
      color: #9d9d9d !important;
      font-size: 0.8em;
      text-transform: uppercase;
    }
    .navbar-fixed-side .dropdown-toggle .caret {
        display: none;
    }
    /*.navbar-fixed-side .dropdown-menu {
     *   display: block
    }*/
    .navbar-fixed-side.navbar-inverse .navbar-collapse,
    .navbar-fixed-side.navbar-inverse .navbar-nav>li>a,
    .navbar-fixed-side.navbar-inverse .navbar-form,
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu {
        border-color: #363636;
    }
    .navbar-fixed-side.navbar-inverse .divider {
        background-color: #363636;
    }
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li>a {
        color: #9d9d9d;
    }
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>.dropdown-active>a {
        background-color: #090909;
        color: #fff;
    }
    .navbar-fixed-side.navbar-inverse .navbar-nav>li:not(.navbar-fixed-side-active):not(.navbar-fixed-side-disabled)>a:hover,
    .navbar-fixed-side.navbar-inverse .navbar-nav>li:not(.navbar-fixed-side-active):not(.navbar-fixed-side-disabled)>a:focus,
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li:not(.dropdown-active):not(.dropdown-disabled)>a:hover,
    .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li:not(.dropdown-active):not(.dropdown-disabled)>a:focus {
        background-color: #2f2f2f;
        color: #fff;
    }
    .navbar-fixed-side.navbar-inverse .dropdown>.dropdown-toggle {
        color: #777777 !important;
    }
}